@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.app{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 50px;
}

.app__header{
    display:flex;
    align-items: center;
}

.header__logo{
    width: 60px;
}

.examples-container{
    display: flex;
    justify-content: space-between;
}

.examples__heading{
    text-align: center;
}

.example{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example--img{
    width: 60%;
}



