.generator{
    width: 80%;
    padding:20px 50px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.generator__input-container{
    margin-bottom: 30px;
}

.generator__input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Montserrat';
    border:1px solid rgb(138, 138, 138);
    outline-color: #44ff23;
}

.generator-input-description{
    color:rgb(159, 159, 159);
}

.generator__btn{
    display:block;
    margin:auto;
    border:none;
    outline:none;
    background: #ABFF9D;
    padding: 10px 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
}

.generator__result{
    margin-top: 30px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.generator__result--container{
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.generator__result-input{
    border-radius: 5px 0px 0px 5px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Montserrat';
    border:.5px solid rgb(138, 138, 138);
    outline:none;
    background: rgb(238, 238, 238);
}

.input-container{
    width: 100%;
}

.generator__result-btn{
    height:34px;
    outline:none;
    background: none;
    /* padding: 10px 30px; */
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    border:.5px solid rgb(138, 138, 138);
    border-radius: 0px 5px 5px 0px;
    cursor:pointer;
}

@media screen and (max-width:750px){
    .generator__result{
        flex-direction: column;
    }
    .input-container{
        text-align: center;
    }
    .generator__result--container{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:400px){
    .generator{
    width: 90%;
        padding:20px 30px;
    }
}

@media screen and (max-width:400px){
    .generator{
    width: 90%;
        padding:20px 30px;
    }
}