.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero__text-container{
    width: 50%;
}

.hero__heading{
    font-weight: normal;
}

.hero__heading>span{
    font-weight: bold;
}

.hero__text{
    font-size:18px;
    margin-bottom: 50px;
}

.hero__link{
    background: #ABFF9D;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    outline:none;
}

.hero__video-container{
    display:flex;
    justify-content: center;
}

.hero__video-container--left-plane{
    align-self: start;
    width: 100px;
}

.hero__video-container-video{
    width: 60%;
}

.hero__video-container--right-plane{
    align-self: end;
    width: 100px;
    margin-bottom: 50px;
}